.DS_Store
build*
*.user*
scripts/*.zip
scripts/*.png
obj-*-linux-gnu
debian/files
debian/debhelper-build-stamp
debian/rclone-browser*
/release
/bs0.cmd
/src/*.autosave
/.vs
/LefebvreFileSyncInstaller
/FileSyncInstaller/Release
/WindosInstaller/Release
/VS2022WinInstaller/Release
/setup/Release
/setup/Debug
*.zip
/tool/logparser/python 3.10
/tool/logparser/23456
/tool/logparser/test
/tool/logparser/backup
/tool/logparser/Manual LEFEBVRE.pdf
/tool/logparser/monitor.log
/tool/logparser/6/manual
/tool/logparser/error.csv
/tool/logparser/LogRsync/6-449-28_04_2022_16_08_22.log
/tool/logparser/LogRsync/6-449-29_04_2022_09_26_08.log
